/* Main Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 100vw;
    font-family: "Roboto", Arial, Verdana;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/* Header Section */

nav {
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #fafafa;
    padding: 25px;
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%;
}

h1 a, .top-nav a {
    color: #000;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
}

.top-nav a {
    text-transform: uppercase;
}

/* Portfolio Section */

section  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    align-items: center;
}

section img {
    width: 50%;
    align-self: center;
}

section p {
    border: 1px solid red;
    width: 25rem;
}

main {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    padding: 10px;
    margin: 0 auto;
}

.col {
    margin: 10px;
    min-height: 250px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    border: 1px red solid;
}

.box-1 {
    background-color: #093145;
}

.box-2 {
    background-color: #3C6478;
}

.box-3 {
    background-color: #107896;
}

.box-4 {
    background-color: #829356;
}

.box-5 {
    background-color: #C2571A;
}

.box-6 {
    background-color: #9A2617;
}

/* Footer Section */

footer {
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
}

.full {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    nav {
        background-color: red;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        background-color: orange;
    }
}