/* Basic Styling */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .05em;
    color: #4a4a4a;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

/* Nav Styling */

.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h1 {
    text-align: center;
    font-weight: 600;
}

section p {
    width: 60%;
    text-align: center;
    margin: auto;
}

.nav-wrapper li {
    text-align: center;
    background-color: white;
    margin: 5px 0;
    padding: 10px 0;
    flex-grow: 1;
    width: 90vw;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-wrapper section {
    text-align: center;
    margin: 2rem 0;
}

.nav-wrapper img {
    width: 50%;
}


/* Portfolio Styling */

.container {
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.container-header {
    margin: 4rem 0;
    text-transform: uppercase;
    font-weight: bold;
}

.col {
    text-align: center;
}

.col p {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 3.5rem;
}

img {
    width: 90vw;
    margin-bottom: 2rem;
}

/* Footer Styling */

.contact {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    align-items: center;
    text-align: center;
}

.contact h2 {
    text-transform: uppercase;
    font-weight: 600;
}

.contact span {
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
    border-top: 1px solid #4a4a4a;
}

.footer-nav {
    align-self: center;
}

.top {
    font-weight: bold;
    text-transform: uppercase;
}

.full {
    display: none;
}