/* Basic Styling */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.6em;
    color: #4a4a4a;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

/* Nav Styling */

.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h1 {
    text-align: center;
    font-weight: 800;
    margin-top: 1.5rem;
}

section p {
    width: 75%;
    text-align: center;
    margin: auto;
}

.top-nav {
    display: flex;
    flex-direction: column;
}

.top-nav li {
    text-align: center;
    background-color: white;
    margin: 5px 0;
    padding: 10px 0;
    flex-grow: 1;
    width: 90vw;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-wrapper section {
    text-align: center;
    margin: 2rem 0;
}

.nav-wrapper img {
    width: 50%;
}


/* Portfolio Styling */

.container {
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin: auto;
}

.container-header {
    margin: 4rem 0;
    text-transform: uppercase;
}

.col {
    text-align: center;
}

.col h2 {
    font-weight: 600;
}

.col p {
    width: 75%;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}

img {
    width: 90vw;
    max-width: 100%;
    margin-bottom: 2rem;
}

/* Footer Styling */

.contact {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    align-items: center;
    text-align: center;
}

.contact h2 {
    text-transform: uppercase;
}

.contact p {
    width: 80%;
    margin: 2rem 0;
}

.contact span {
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
    border-top: 1px solid #4a4a4a;
}

.footer-nav {
    align-self: center;
}

footer h2 {
    font-size: 1.1rem;
}

.top, .full {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.full {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    /* Nav */
    .nav-wrapper {
        width: 100%;
        margin: auto;
    }
    .top-nav {
        display: flex;
        flex-direction: row;
    }
    .top-nav li {
        background-color: #fafafa;
        width: 15vw;
    }
    .nav-wrapper section {
        display: flex;
        padding: 0 2rem;
    }
    .nav-wrapper img {
        order: 2;
        margin-left: 20px;
    }
    .nav-wrapper h1 {
        margin-top: 3.5rem;
    }
    .nav-wrapper p {
        align-self: flex-start;
        text-align: left;
        font-size: 1.2rem;
        margin-top: 0;
    }

    /* Portfolio */

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-header {
        margin: 3rem auto 3rem auto;
        width: 100%;
        text-align: center;
        align-self: flex-start;
    }

    .col {
        flex-basis: 50%;
        height: 30rem;
        padding: 5px;
        margin: 0 auto;
    }

    .col img {
        width: 100%;
    }

    .col p {
        font-size: 0.8rem;
    }

    /* Footer */
    .contact p {
        width: 60%;
    }

    footer h2 {
        font-size: 0.7rem;
        margin: auto 0;
    }

    .full {
        display: contents;
        font-size: 0.7rem;
    }

    .top {
        display: none;
    }


}

@media screen and (min-width: 1024px) {
    
}